<!DOCTYPE html>
<html lang="en">
{% include "partials/_head.html" %}
<body>

  {% if job_id %}
    <script>window.currentJobId = "{{ job_id }}";</script>
  {% endif %}

  {% include "partials/_loader.html" %}

  <header>
    <h1>Text Analyzer for Serbian Language</h1>
  </header>

  <div class="container">
    {% if error_message %}
      <div class="alert">{{ error_message }}</div>
    {% endif %}

    {% include "partials/_forms.html" %}

    {% include "partials/_results.html" %}

    {% include "partials/_charts.html" %}
  </div>

  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
